/* Setting Scale 1.125 */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 230px;
  font-size: 1rem;
  color: $color-black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}
body{
  background-color: $background-app;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1 {
  font-size: calc(2.027rem + 1.5vw);
}
h2 {
  font-size: calc(1.802rem + 1.5vw);
  font-weight: 700;

  text-transform: capitalize;
  color: white;
  padding-left: 12px;
}
h3 {
  font-size: calc(1.602rem + 1.5vw);
}
h4 {
  font-size: calc(1.424rem + 1.5vw);
}
h5 {
  font-size: calc(1.266rem + 1.5vw);
}
h6 {
  font-size: calc(1.125rem + 1.5vw);
}
/* endSetting */
/* Navbar principale*/
nav{
  background: $color-black;
  .logo{
    height: 30px;
    width: auto;
  }
  .navbar-toggler{
    color: $color-black;
  }
  .container-fluid{
    &.navPc{
      display: none ;
    }
    .nav-item{
      border-bottom: 1px solid $color-gris;
      .nav-link{
        color:$color-white;
        text-indent: 10px;
        &.active{
          background: $color-black-opacity;
        }
      }
      .nav-link:hover{
        background: $color-black-opacity;
      }
    }
    .offcanvas{
      background: $color-black;
      .offcanvas-title{
        color: $color-white;
      }
    }
  }
  .searchButton{
    background: $color-yellow;
    padding: 9px 15px;
    right: 20px;
    border: none;
  }
  .inputSearch{
    background: $color-yellow-claire;
  }

}
.phone{
  display: block;
}
.pc{
  display: none;
}
/* endNavbar principale*/
/* Navbar secondaire */
.navbar2Infoox{
  position: relative;
  background-color: $color-white;
  width: 100%;
  height: auto;
  overflow:hidden;
  .containerInfoox{
    overflow-x: scroll;
    overflow-y: hidden;

    ul{
      display: flex;
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        flex: 0 0 auto;
        a, &.nolienkInfoox{
          display: block;
          margin: 7px 10px;
          text-decoration: none;
          color: $color-black;
          padding: 10px 40px;
        }
      }
    }
  }
  &.pc{
    .containerInfoox {
      overflow-x: hidden;
      display: flex;
      justify-content: space-between;
      ul{
        li{
          a{
            img{
              width: 40px;
            }
          }
        }
      }
    }
  }
}
.infooxNavbar2Contains{
  @extend .navbar2Infoox;
  position: absolute;
  z-index: 1;
  .containerInfoox{
    ul{
      li{
        a{
          padding: 0px;
          margin: 0 15px;
        }
      }
    }
  }
  .card{
    background-color: $color-black-clair;
  }
  img{
    height: 250px;
  }

}
/* endNavbar secondaire */
/* Tablette */
@media screen and (min-width: 768px) {
  /* Navbar */
  nav{
    .logo{
      height: 35px;
    }
  }
  /* endNavbar */
}
/* endTablette */
/* Desktops */
@media screen and (min-width: 992px) {
  .phone{
    display: none;
  }
  .pc{
    display: block;
  }
  nav{
    .navPhone{
      display: none !important;
    }
    .container-fluid.navPc{
      display:flex;
    }
  }
  /* sliderExamens */

  .slider {
    width: 100%;
    bottom: 50px;
  }

  .slick-slide {
    margin: 0 20px;
  }

  .slick-slide img {
    width: 100%;
  }
  .slick-prev:before,
  .slick-next:before {
    color: red;
    z-index: 3;
    position: absolute;
    font-size: 40px;
  }
  .slick-next:before{
    right: 30px;
  }
  .slick-prev{
    z-index: 1;
  }
  .slick-prev:before{
    left: 30px;
  }

  .slick-slide {
    transition: all ease-in-out .3s;

  }

  .slick-active {

  }

  .slick-current {

  }
  /* endsliderExamens */
}
/* endDesktops */