/* Setting Scale 1.125 */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 230px;
  font-size: 1rem;
  background: white;
  color: $color-black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1 {
  font-size: calc(2.027rem + 1.5vw);
}
h2 {
  font-size: calc(1.802rem + 1.5vw);
  font-weight: 700;

  text-transform: capitalize;
  color: white;
  padding-left: 12px;
}
h3 {
  font-size: calc(1.602rem + 1.5vw);
}
h4 {
  font-size: calc(1.424rem + 1.5vw);
}
h5 {
  font-size: calc(1.266rem + 1.5vw);
}
h6 {
  font-size: calc(1.125rem + 1.5vw);
}
/* endSetting */
/* Navbar */

/* phone */
@media screen and (max-width: 576px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
  }
}
/* endphone */